JS/JS_CRUD/Local_rest_API/node_modules
ReactJS/appl-intro/node_modules
NodeJS/Day 1/node_modules
NodeJS/express/node_modules
NodeJS/Day 2/node_modules
NodeJS/Day 3 CRUD/server/node_modules
NodeJS/Day2_CRUD/server/node_modules
NodeJS/Day2_CRUD/ui/node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
