body{
    background-color: #f0c67aeb;
}

.form-container{
    margin:20px auto;
    width:450px;
    background-color:#f5f5f5;
    border-radius: 5px;
    padding-top:20px;
}

.form-container label{
    font-family: sans-serif;
    margin:50px 0px 0px 20px;
    font-weight: 600;
    font-size: 14px;
}

.form-container input{
    padding:5px 5px;
    width:90%;
    margin-left:20px;
    margin-top: 5px;
    margin-bottom:15px;
}

.form-container select {
    margin-left: 20px;
    padding: 8px 5px;
    width: 91%;
    color: grey;
    font-size: 15px;
    margin-bottom: 15px;
}
.form-container .date{
    margin-top:5px;
    width:100px;
    margin-right:0px;
}
.form-container .date2{
    margin-top:5px;
    width:100px;
    margin-right:0px;
    margin-left:0px;
}

.form-container button{
    background-color: blue;
    width:90%;
    margin:20px 20px;
    padding:10px 10px;
    border-radius: 5px;
    border:0px;
    color:white;
    font-weight: bold;
}
/* .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  } */